<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>ACM Activities</title>
  </head>
  <body>
    <main>
      <a href="/">ACM Homepage</a>
      <h1>ACM Activities</h1>
      <h3>Upcoming</h3>
      <table>
        <thead>
          <tr>
            <td><strong>Date</strong></td>
            <td><strong>Title</strong></td>
            <td><strong>ACM/ACM-W</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2025-10-08</td>
            <td>
              <a href="/activities/2025-10-08-skill-lunch-cursor.html"
                >Skill Lunch: Cursor</a
              >
            </td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2025-10-29</td>
            <td><a href="#">Halloween Social</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2025-11-05</td>
            <td><a href="#">Guest Speaker: Brentt</a></td>
            <td>ACM</td>
          </tr>
        </tbody>
      </table>
      <h3>Past</h3>
      <table>
        <thead>
          <tr>
            <td><strong>Date</strong></td>
            <td><strong>Title</strong></td>
            <td><strong>ACM/ACM-W</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2025-09-25</td>
            <td><a href="#">Career Prep w/ Dr. Mario Harper</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2025-08-18</td>
            <td><a href="#">End of Year Dinner & Study</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2025-04-16</td>
            <td><a href="#">Closing Social: Game Night</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2025-03-24</td>
            <td><a href="#">Guest Speaker: Austin Wilkins</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2025-02-21</td>
            <td><a href="#">Stay in Cache Valley!</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2025-02-19</td>
            <td><a href="#">Git and Cookie Decorating</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2025-01-29</td>
            <td><a href="#">Game Night</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2025-01-22</td>
            <td><a href="#">SER Scavenger Hunt</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2024-12-02</td>
            <td><a href="#">Pizza & Study Night</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2024-11-21</td>
            <td><a href="#">Lucid Technical Interview Workshop</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2024-11-18</td>
            <td><a href="#">Bob Ross Paint Night</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2024-10-29</td>
            <td><a href="#">Halloween Party</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2024-09-12</td>
            <td><a href="#">Interview & Career Fair Prep w/ L3Harris</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2024-09-09</td>
            <td><a href="#">Lucid Tech Talk</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2024-04-19</td>
            <td><a href="#">Closing Social</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2024-04-17</td>
            <td><a href="#">Lightning Talks: Stories from the Field</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2024-03-06</td>
            <td><a href="#">Resume Night</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2024-02-20</td>
            <td><a href="#">ASI Tour</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2024-02-15</td>
            <td><a href="#">HackUSU Prep Night</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2024-01-25</td>
            <td><a href="#">Spring Opening Social</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2023-12-06</td>
            <td><a href="#">Good Luck w/ Finals Candy Hand-Out</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2023-11-30</td>
            <td><a href="#">Interview Prep Night w/ SDL</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2023-11-15</td>
            <td><a href="#">Stay in Cache Valley!</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2023-10-26</td>
            <td><a href="#">Halloween Social</a></td>
            <td>ACM-W</td>
          </tr>
          <tr>
            <td>2023-09-27</td>
            <td><a href="#">Lucid Tech Talk: Projects of Scale</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2023-09-14</td>
            <td><a href="#">Opening Social</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2023-04-10</td>
            <td><a href="#">Got a Cool Hobby?</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2023-02-13</td>
            <td><a href="#">Git Yourself a Job</a></td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2022-12-01</td>
            <td>
              <a href="#">The Perception of Pictures w/ Dr. Martin Banks</a>
            </td>
            <td>ACM</td>
          </tr>
          <tr>
            <td>2023-11-17</td>
            <td><a href="#">Lucid Technical Challenge Workshop</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2023-10-24</td>
            <td><a href="#">October Social</a></td>
            <td>Joint</td>
          </tr>
          <tr>
            <td>2023-09-26</td>
            <td><a href="#">Lucid Tech Talk: Taking Ownership</a></td>
            <td>Joint</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
