<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>ACM</title>
  </head>
  <body>
    <header>
      <div class="center-text">
        <h1>ACM</h1>
        <p>
          A club focused on
          <strong>social networking</strong> and
          <strong>career preparation</strong> at Utah State University's School
          of Computing
        </p>
        <!-- <nav>
          <a href="#about">About</a> | <a href="#activities">Activities</a> |
          <a href="#leadership">Leadership</a> | <a href="#join">Join</a> |
          <a href="#contact">Contact</a>
        </nav> -->
      </div>
      <hr />
    </header>
    <main>
      <section id="about">
        <h2>About</h2>
        <p>We connect computer science students through</p>
        <ul>
          <li>presentations from industry professionals</li>
          <li>socials</li>
          <li><strong>free food</strong></li>
        </ul>
      </section>

      <section id="activities">
        <h2>Activities</h2>
        <ul>
          <li>Wed, Oct 08 - <a href="/activities/2025-10-08-skill-lunch-cursor.html">Skill Lunch: Cursor</a></li>
          <li>
            Wed, Oct 29 - <a href="#">Halloween Social</a> by the
            <a href="#">ACM-W</a>
          </li>
        </ul>
        <p>See our past activities <a href="activities">here</a>.</p>
      </section>

      <section id="join">
        <h2>Join</h2>
        <p>
          New members are welcome any time. Come to a meeting and say hello!
        </p>
        <!-- Should we have a mailing list? -->
        <p>
          <!-- This link never expires -->
          We announce meetings on our
          <a href="https://discord.gg/GGaaRDcpnk">Discord server</a>.
        </p>
      </section>

      <section id="leadership">
        <h2>Leadership</h2>
        <ul>
          <li>President: Paul Harrison</li>
          <li>Vice President: Scott Jeppson</li>
          <li>
            Faculty Advisor: Dr. John Edwards (<a
              href="https://engineering.usu.edu/cs/directory/faculty/edwards-john"
              target="_blank"
              >USU faculty profile</a
            >)
          </li>
        </ul>
      </section>

      <section id="contact">
        <h2>Contact</h2>
        <p>
          Have questions or want to collaborate? Reach out to the leadership or
          our faculty advisor.
        </p>
        <ul>
          <li>
            Email: <a href="mailto:admin@acm.usu.edu">admin@acm.usu.edu</a>
          </li>
          <li>Location: Utah State University, Logan, UT</li>
        </ul>
      </section>
    </main>

    <footer>
      <hr />
      <p class="center-text">Utah State University, Logan, UT</p>
    </footer>
  </body>
</html>
